.brief {
  /* float:right; */
  height: 100%;
  /* min-height: calc(100% - 110px); */
  /* max-height: calc(100% - 110px);  */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.brief ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.brief li {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 0 20px 0;
  text-align: center;
}
